<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title></title>
  </head>
  <body>
    <h1></h1>
    <nav class="navbar navbar-light bg-faded">
      <div class="nav navbar-nav">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </nav>
    <script src="/js/bootstrap.bundle.js"></script>
  </body>
</html>
