<h2>Информация о приложении</h2>
<p>Приложение моделирует процесс обмена квартир.</p>

<strong>Сайт реализует следующие функции:</strong>
<ul>
  <li>Добавление квартиры</li>
  <li>Удаление квартиры</li>
  <li>Вывод всех квартир</li>
  <li>Сортировка квартир:</li>
    <ul>
      <li>По району</li>
      <li>По стоимости</li>
      <li>По метражу</li>
    </ul>
  <li>Вывод всех вариантов обмена для выбранной квартиры</li>
  <ul><li>На той же улице</li></ul>
  <li>Вывод всех квартир без вариантов обмена</li>
  <li>Составление статистики для каждого района</li>
  <li>Проверка корректности базы</li>
</ul>
