<h2>Информация о приложении</h2>
<p>Программа моделирует процесс обмена квартир</p>

<p>Приложение реализует следующие функции:</p>
<ul>
  <li>Добавление/удаление квартиры</li>
  <li>Вывод всех квартир, возможность их сортировки:</li>
    <ul>
      <li>По району</li>
      <li>По стоимости</li>
      <li>По метражу</li>
    </ul>
  <li>Вывод всех вариантов обмена для выбранной квартиры</li>
  <li>Вывод всех предложений для обмена на той же улице для выбранной квартиры</li>
  <li>Вывод всех квартир без вариантов обмена</li>
  <li>Составление статистики для каждого района</li>
  <li>Проверка корректности базы</li>
</ul>
