<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Laboratory</title>
  </head>
  <body>
    <h1>Обмен квартир</h1>
    <nav class="navbar navbar-light bg-faded">
      <div class="nav navbar-nav">
        <div class="container">
          <a class="navbar-brand" href="#">Добавить квартиру</a>
          <a class="navbar-brand" href="#">Список квартир</a>
          <a class="navbar-brand" href="#">Статистика</a>
          <a class="navbar-brand" href="#">Проверка корректности базы</a>
          <a class="navbar-brand" href="#">Нет обмена</a> <!-- Добавить фукцию в список квартир -->
          <a class="navbar-brand" href="#">Все соседи</a> <!-- Добавить фукцию в список квартир -->
          <%= yield %>
        </div>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.js"></script>
  </body>
</html>
