<h2>Информация о приложении</h2>
<p>Поставка товаров в супермаркет</p>

<strong>Сайт реализует следующие функции:</strong>
<ul>
  <li>Поиск поставщика с самой низкой ценой на заданный товар</li>
  <li>Поиск поставщика с самым широким ассортиментом по заданному отделу</li>
  <li>Поиск наиболее выгодного поставщика с учётом ассортимента и необходимого количества товаров</li>
  <li>Вывод списка поставщиков, у которых приобретается необходимый набор товаров с учётом их количества и минимальными издержками</li>
  <li>Подсчёт выплаты поставщикам с разбивкой по видам поставляемого товара за определённый период</li>
</ul>

<a href="/main" class="btn btn-secondary active" role="button" aria-pressed="true">На главную</a>
